
#section-angular .st0 {
  display: none;
}
#section-angular .st1 {
  display: inline;
}
#section-angular .st2 {
  fill: none;
  stroke: #E11E16;
  stroke-width: 10;
  stroke-dasharray: -1460;
}
#section-angular .st3 {
  fill: none;
  stroke: #AF1209;
  stroke-width: 10;
  stroke-dasharray: 1500;
}
#section-angular .st4 {
  fill: none;
  stroke: #231F20;
}
#section-angular .st4-n {
    stroke-dasharray: 472;
}
#section-angular .st4-g {
    stroke-dasharray: 380;
}
#section-angular .st4-u {
    stroke-dasharray: 380;
}
#section-angular .st4-l {
    stroke-dasharray: 260;
}
#section-angular .st4-a {
    stroke-dasharray: 390;
}
#section-angular .st4-r {
    stroke-dasharray: 430;
}

#section-angular .st5 {
  fill: none;
  stroke: #AF1209;
}
#section-angular .st5-j {
    stroke-dasharray: 190;
}
#section-angular .st5-s {
    stroke-dasharray: 400;
}
#section-angular .st6 {
  fill: #ECECEC;
  stroke: #BBBBBB;
  stroke-dasharray: 600;
}
#section-angular .st7 {
  fill: #ECECEC;
  stroke: #BBBBBB;
  stroke-linecap: round;
  stroke-dasharray: 422;
}




#section-html5 svg {
  margin: 0 auto;
  display: block;
}
#section-html5 .st0 {
  display: none;
}
#section-html5 .st1 {
  fill: none;
  stroke: #F26722;
  stroke-width: 10;
  stroke-dasharray: 400;
}
#section-html5 .st1-orange {
  fill: none;
  stroke: #F26722;
  stroke-width: 10;
  stroke-dasharray: 1585;
}
#section-html5 .st2 {
  fill: #FDFDFE;
  stroke: #000000;
  stroke-dasharray: 580;
}
#section-html5 .st3 {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-dasharray: 510;
}
#section-html5 .st4 {
  fill: none;
}
#section-html5 .st5 {
  fill: none;
  stroke: #000000;
}

#section-html5 .st5-h {
    stroke-dasharray: 133;
}

#section-html5 .st5-t {
    stroke-dasharray: 98;
}
#section-html5 .st5-m {
    stroke-dasharray: 150;
}
#section-html5 .st5-l {
    stroke-dasharray: 92;
}

#section-css3 svg {
  width: 370px;
  margin: 0 auto;
  display: block;
}
#section-css3 .st0 {
  fill: none;
  stroke: #0075B7;
  stroke-width: 10;
  stroke-dasharray: 1600;
}
#section-css3 .st1 {
  fill: none;
  stroke: #00AADD;
  stroke-width: 3;

}
#section-css3 .st2 {
  fill: none;
  stroke: #00AADD;
  stroke-width: 5;

  stroke-dasharray: 2150;
}
#section-css3 .st3 {
  fill: #ECECEC;
  stroke: #fff;

  stroke-dasharray: 510;
}

#section-css3 .st3-3 {
  fill: #ECECEC;
  stroke: #fff;

  stroke-dasharray: 540;
}
#section-css3 .st4 {
  fill: none;
  stroke: #fff;
}
#section-css3 .st4-c {
    stroke-dasharray: 130;

}
#section-css3 .st4-s {
    stroke-dasharray: 165;

}
#section-css3 .st8 {
  fill: #0075b7;
}

@media screen and (max-width: 500px){
    #section-html5 svg,
    #section-css3 svg {
        width: inherit;
    }
}
